<div>

  <div ng-if="!patient">
    Find a patient to view <a href="/">here</a>.
  </div>

  <div ng-if="patient">
    <button type="button" class="btn btn-success pull-right create-btn" ng-click="createNew()">Create</button>

    <h2>
      <span class="glyphicon glyphicon-circle-arrow-left small mar-date-arrow"
            ng-click="daySub()"></span>
      {{ momentForDisplay(day.date) }}
      <button type="button" class="btn btn-default"
              dateType="date"
              ng-model="day.date"
              autoclose="true"
              bs-datepicker>
        <span class="glyphicon glyphicon-calendar"></span>
      </button>
      <span class="glyphicon glyphicon-circle-arrow-right small mar-date-arrow"
            ng-click="dayAdd()"></span>
    </h2>

    <div class="calendar-container">
      <table>
        <tr>
          <td>
            <div class="fix-left">
              <table class="calendar-table table-bordered calendar-table-left time-sequence-border">
                <tr>
                  <th>Medication</th>
                </tr>
                <tr ng-repeat="med in patient.medications" class="cal-cell">
                  <td class="cal-cell">
                    <span class="mar-med-header">
                      <b>{{ med.name }}</b>&nbsp;<span class="text-muted">{{ med.short_description }}</span>
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          </td>
          <td>
            <div class="scrollable-right time-sequence-border">
              <table class="calendar-table table-bordered">
                <tr>
                  <th ng-repeat="date in dates">
                    {{ date.hour }}:{{ date.minute || "00" }}
                  </th>
                </tr>
                <tr ng-repeat="med in patient.medications" class="cal-cell">
                  <td ng-repeat="date in dates" class="time-slot cal-cell"
                      ng-class="{'past': isPast(date), 'overdue': isOverdueSchedule(date, med)}"
                      ng-click="editMedTime(med.id, date.hour)">
                    <div ng-if="isMedSchedule(date, med.schedules)" class="is-med-schedule">
                      <div class="glyphicon glyphicon-list-alt medication-schedule"></div>
                    </div>
                    &nbsp;
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
